body {
    background-color: #E9D985;
}

h1 {
  color: #251605;
  text-align: center;
}

p {
  color: #251605;
}

#suggestion{
  background-color: #251605;
  color: #E9D985;
  font-size: 150%;
  text-align: center;  
}